body{
  background: url("../img/1_portada.jpg")no-repeat center center fixed;
  background-size: cover;
}
div.ie{
  display: inherit;
  background-color: rgba(0, 0, 0, 0.8);
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  z-index: 10;
}
.normal{
  display: none;
}
